<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="playorna.com.orna" />
    </queries>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FightTracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        android:name=".FightTrackerApp">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FirstRunActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Dialog"/>
        <service
            android:name=".RewardConfirmOverlayService"
            android:exported="false"/>

        <service
            android:name=".FightTrackerService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name=".FloatingTrackerService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <service
            android:name=".OverlayService"
            android:exported="false"/>

        <service
            android:name=".CropOverlayService"
            android:exported="false"/>

        <service
            android:name=".OcrDebugOverlayService"
            android:exported="false"/>

        <receiver
            android:name=".MaterialAlarmReceiver"
            android:exported="false" />

        <receiver android:name=".BootReceiver" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>